<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         >
    <testsuites>
        <testsuite name="Devrazec Plugin Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
