.themescaliber-themeinfo {
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	border: solid 5px #000;
	display: block  !important;
}
.themescaliber-themeinfo .upsell-pro-label {
	margin-right: 10px;
	padding: 2px 6px 2px 7px;
	border-radius: 3px;
	color: #fff;
	background: #0CA6EE;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1px;
	text-transform: uppercase;
}
.themescaliber-themeinfo-features li {
    padding: 8px 0;
    font-size: 15px;
    color: #000;
    border-bottom: solid 1px #ccc;
    line-height: 25px;
}
.themescaliber-themeinfo-features li:last-child {
	margin-bottom: 28px;
}
.themescaliber-themeinfo .button {
	width: 100%;
	margin-right: 21px;
	text-align: center;
	letter-spacing: 0.2px;
	box-shadow: none;
	text-shadow: none;
	background: #0CA6EE;
	border: none;
	font-size: 15px;
}
.themescaliber-themeinfo .button:hover{
	background: #000;
}
.themescaliber-themeinfo hr {
	margin-top: 22px;
	margin-bottom: 16px;
}
.themescaliber-themeinfo-feature-list li:before {
	line-height: 37px;
}
.themescaliber-themeinfo-feature-list li {
	margin-bottom: 6px;
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
}
.themescaliber-themeinfo-feature-list li:last-child {
	margin-bottom: 0;
}
.frontpage-sections-upsell {
	padding: 10px 10px 11px 14px;
}
.themescaliber-boxed-section {
	margin: 12px;
}
#customize-controls #accordion-section-tour_travel_agent_theme_info_main_control.control-section .accordion-section-title:hover {
	color: #fff;
	background-color: #0073aa;
}
#customize-controls #accordion-section-tour_travel_agent_theme_info_main_control.control-section .accordion-section-title:hover:after {
	color: #fff;
}
.upsell-pro-label:before {
	content: "pro";
}

#customize-controls .control-section-tour-travel-agent .accordion-section-title:hover,
#customize-controls .control-section-tour-travel-agent .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-tour-travel-agent .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.control-section-tour-travel-agent .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #0CA6EE;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	border-radius: 3px;
	border: none;
}
.control-section-tour-travel-agent .accordion-section-title .button:hover {
	background-color: #141414;
	color: #fff;
}

.rtl .control-section-tour-travel-agent .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}


input#_customize-input-tour_travel_agent_content_spacing{
	display: none;
}
li#customize-control-tour_travel_agent_content_spacing{
	margin: 0;
}
li#customize-control-tour_travel_agent_slider_top_spacing,
li#customize-control-tour_travel_agent_slider_bottom_spacing,
li#customize-control-tour_travel_agent_slider_left_spacing,
li#customize-control-tour_travel_agent_slider_right_spacing {
    width: 20%;
    clear: none;
    margin-right: 10px;
}


li#customize-control-tour_travel_agent_related_product,
li#customize-control-tour_travel_agent_woocommerce_button_border_radius,
li#customize-control-tour_travel_agent_woocommerce_product_box_shadow,
li#customize-control-tour_travel_agent_back_to_top_alignment,
li#customize-control-tour_travel_agent_footer_widget_layout,
li#customize-control-tour_travel_agent_404_button_text, 
li#customize-control-tour_travel_agent_request_btn_url,
li#customize-control-tour_travel_agent_nav_font_size  {
  border-bottom: 1px solid #b2b1b1;
  padding-bottom: 10px;
}

/* --------- Icon Changer Style --------- */
.type-icon{
  	overflow: hidden;
}
li.customize-control-icon span.customize-control-title{
	margin: 10px 0;
}
.selected-icon{
	background: #fff;
	line-height: 45px;
	border: 1px solid #ddd;
	position: relative;
	cursor: pointer;
	padding: 0 10px;
}
.selected-icon i{
	font-size: 18px;
	margin-right: 10px;
}
.selected-icon span i{
	position: absolute;
	background: #fff;
	right: 0;
	height: 45px;
	width: 30px;
	margin: 0;
	text-align: center;
	border: 1px solid #ddd;
	font-size: 20px;
	line-height: 45px;
}
.icon-list{
	padding: 10px;
	font-size: 18px;
	border: 1px solid #EEE;
	border-right: 0;
	border-top: 0;
	padding-bottom: 4%;
	display: none;
	cursor: pointer;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-y: scroll;	
	height: 215px;
}
.icon-list li{
	padding: 10px;
	border: 1px solid #eee;
}
.icon-list li i{
	margin-right: 10px;
}
.icon-list li:hover{
	background: #333;
	border: 1px solid #333;
	color: #FFF;
}
.icon-list li.icon-active{
	background: #0073aa;
	border: 1px solid #0073aa;
	color: #FFF;
}
.social-icon-search{
	padding: 10px 0;
}
.socialInput{
	padding: 10px;
	font-size: 16px;
}
.icons-class {
	font-size: 15px;
	font-weight: 500;
}

#customize-control-tour_travel_agent_demo_link span a,
#customize-control-tour_travel_agent_doc_link span a,
#customize-control-tour_travel_agent_forum_link span a,
#customize-control-tour_travel_agent_review_link span a,
#customize-control-tour_travel_agent_menu_settings_premium_features a,
#customize-control-tour_travel_agent_tour_settings_premium_features a,
#customize-control-tour_travel_agent_post_settings_premium_features a {
  display: inline-block;
  background-color: #0CA6EE;
  color: #fff;
  text-decoration: none;
  font-weight:  600;
  text-transform: capitalize;
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 10px;
  text-align: center;
}
#customize-control-tour_travel_agent_demo_link span a:hover,
#customize-control-tour_travel_agent_doc_link span a:hover,
#customize-control-tour_travel_agent_forum_link span a:hover,
#customize-control-tour_travel_agent_review_link span a:hover {
  background-color: #000;
}
#customize-control-tour_travel_agent_demo_link span,
#customize-control-tour_travel_agent_doc_link span,
#customize-control-tour_travel_agent_forum_link span,
#customize-control-tour_travel_agent_review_link  span,
#customize-control-tour_travel_agent_menu_settings_premium_features span,
#customize-control-tour_travel_agent_tour_settings_premium_features span,
#customize-control-tour_travel_agent_post_settings_premium_features span{
  border: 1px solid grey;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
#customize-control-tour_travel_agent_demo_link h3,
#customize-control-tour_travel_agent_doc_link h3,
#customize-control-tour_travel_agent_forum_link h3,
#customize-control-tour_travel_agent_review_link h3{
  margin: 0px 0px 10px 0px;
}
#accordion-section-tour_travel_agent_about_theme .accordion-section-title{
  background-color: #0CA6EE;
  color: #fff;
}
#accordion-section-tour_travel_agent_about_theme .accordion-section-title button:hover{
	background-color: #0CA6EE !important;
	color: #fff !important;
}
/* this is the premium features box css  */
li#customize-control-tour_travel_agent_menu_settings_premium_features,
li#customize-control-tour_travel_agent_tour_settings_premium_features,
li#customize-control-tour_travel_agent_post_settings_premium_features{
	margin-bottom: 25px;
}

#customize-control-tour_travel_agent_menu_settings_premium_features li,
#customize-control-tour_travel_agent_tour_settings_premium_features li,
#customize-control-tour_travel_agent_post_settings_premium_features li{
  list-style-type: disc;
  margin-left: 20px;
}
.accordion-section-title button.accordion-trigger{
  height: unset !important;
}
#accordion-section-tour_travel_agent_example_1 .accordion-section-title:after{
  display: none;
}
.accordion-section-title button.accordion-trigger:focus{
    box-shadow: none;
}