<!-- wp:template-part {"slug":"main-header","theme":"garden-plant-shop","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"garden-plant-shop/main-banner"} /-->
  <!-- wp:pattern {"slug":"garden-plant-shop/services"} /-->
  <!-- wp:pattern {"slug":"garden-plant-shop/blog-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"garden-plant-shop","tagName":"footer"} /-->